@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lexend Giga", sans-serif;
}

p, ul, ol {
  font-family: "Lexend Giga", sans-serif;
}

span, button {
  font-family: "Lexend Giga", sans-serif;
}

a,
.red {
  text-decoration: none;
  color: #F00;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 100%, 37%, 0.2);
  }
}

.controls {
  text-align: center;
}

button {
  background-color: #F00;
  border: none;
  color: white;
  margin: 5px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

button:hover {
  background-color: darkred;
}

button.paused {
  background-color: orangered;
}
