@import './base.css';

h1, h2, h3, h4, h5, h6 {
  font-family: "Lexend Giga", sans-serif;
}

p, ul, ol {
  font-family: "Lexend Giga", sans-serif;
}

span, button {
  font-family: "Lexend Giga", sans-serif;
}
